.vscode/*
.idea/

.htaccess
INSTALL.txt
LICENSES
admin*/
app/
autoload.php
bin/
cache/
classes/
config/
controllers/
docker-compose.yml
docs/
download/
error500.html
images.inc.php
img/
index.php
init.php
js/
localization/
mails/

override/
package-lock.json
pdf/
robots.txt
src/
themes/
tools/
translations/
upload/
var/

vendor/
webservice/

modules/*
!modules/symfonymoduletemplate**

!package-lock.json
!composer.lock
!.gitignore
!README.md