<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>symfonymoduletemplate</name>
    <displayName><![CDATA[Symfony Module Template]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This is a symfony template for Ps]]></description>
    <author><![CDATA[development.app.tester@gmail.com]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>